<nav class='navbar navbar-expand-lg'>
  <div class='container-fluid'>
    <span class='navbar-brand mb-0 h1'>Tech Blog</span>
    <div class='navbar-nav'>
      <a class='nav-link active' aria-current='page' href='#'>Home</a>
      <a class='nav-link' href='#'>Dashboard</a>
      <a class='nav-link' href='#'>Login</a>
    </div>
  </div>
</nav>
<div id='main-content-container'>

</div>